body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #ff5733;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ff3300;
}

#productList {
  max-width: 400px;
  margin: 0 auto;
}

#productList li:nth-child(even) {
  background-color: #f2f2f2;
}

#productGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productCard {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
}

.productCard h2 {
  font-size: 18px;
  margin: 0;
}

.productCard button {
  background-color: #ff5733;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.productCard button:hover {
  background-color: #ff3300;
}

#userList {
  max-width: 600px;
  margin: 20px auto;
}

#userList li {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#userList li:hover {
  background-color: #f0f0f0;
}

button.editButton,
button.deleteButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button.editButton:hover,
button.deleteButton:hover {
  background-color: #45a049;
}

#editUserRoleModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.checkout-container {
  max-width: 600px;
  margin: 20px auto;
}

.checkout-container form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.checkout-container input[type="text"],
.checkout-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.purchase-confirmation-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.purchase-confirmation-container ul {
  padding: 0;
}

.purchase-confirmation-container ul li {
  margin-bottom: 10px;
}
